@charset "UTF-8";
/* line 2, ../sass/_rest.scss */
* {
  margin: 0;
  padding: 0;
  border: 0; }

/* line 3, ../sass/_rest.scss */
html {
  font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;
  font-size: 62.5%; }

/* line 4, ../sass/_rest.scss */
body {
  margin: 0;
  height: 100%;
  -webkit-overflow-scrolling: touch; }

/* line 5, ../sass/_rest.scss */
ol, ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0; }

/* line 6, ../sass/_rest.scss */
a {
  text-decoration: none; }

/* line 7, ../sass/_rest.scss */
i, em, strong, span, address {
  font-style: normal; }

/* line 8, ../sass/_rest.scss */
h1, h2 {
  font-size: 1.4em; }

/* line 9, ../sass/_rest.scss */
h3, h4 {
  font-size: 1.4em; }

/* line 10, ../sass/_rest.scss */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
  margin: 0;
  padding: 0;
  word-wrap: break-word; }

/* line 11, ../sass/_rest.scss */
.cf:before, .cf:after {
  content: "";
  display: table; }

/* line 12, ../sass/_rest.scss */
.cf:after {
  clear: both; }

/* For IE 6/7 (trigger hasLayout) */
/* line 13, ../sass/_rest.scss */
.cf {
  zoom: 1; }

/* line 14, ../sass/_rest.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

/* line 15, ../sass/_rest.scss */
audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

/* line 14, ../sass/index.scss */
.block-item .info a, .block-item .other p a, .block-item .record a {
  display: block;
  font-size: 1.2em;
  color: #ffffff; }

/* line 19, ../sass/index.scss */
.left-nav-list li, .block-item div, .block-item .other, .block-item .other p {
  -webkit-transition: all .3s ease-in-out 0s;
  -moz-transition: all .3s ease-in-out 0s;
  -ms-transition: all .3s ease-in-out 0s;
  -o-transition: all .3s ease-in-out 0s;
  transition: all .3s ease-in-out 0s; }

/* line 74, icon1/*.png */
.icon1-sprite, .nav-item .gift, .nav-item .more, .footer .icon-wb, .footer .icon-wx, .buy-btn::before {
  background: url('../images/icon1-sacd030e82b.png') no-repeat; }

/* line 26, ../sass/index.scss */
body {
  background: whitesmoke;
  color: black; }

/* line 30, ../sass/index.scss */
a {
  color: black; }

/* line 32, ../sass/index.scss */
.wrap {
  margin: 0 auto;
  width: 1258px;
  overflow: hidden; }

/*通用头部开始*/
/* line 37, ../sass/index.scss */
.top-head {
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 64px;
  background: #010101;
  background-image: linear-gradient(90deg, #010101, #898989);
  overflow: hidden; }
  /* line 46, ../sass/index.scss */
  .top-head em {
    padding-left: 16px;
    float: left;
    font-size: 1.8em;
    line-height: 3.556em; }
    /* line 51, ../sass/index.scss */
    .top-head em a {
      color: #ffffff; }

/* line 55, ../sass/index.scss */
.nav-item {
  padding-right: 36px;
  float: right; }
  /* line 58, ../sass/index.scss */
  .nav-item li {
    margin-left: 30px;
    height: 64px;
    float: right;
    color: #ffffff; }
    /* line 63, ../sass/index.scss */
    .nav-item li a {
      color: #ffffff;
      font-size: 1.6em;
      line-height: 4em; }
  /* line 68, ../sass/index.scss */
  .nav-item .gift {
    padding-right: 4px;
    margin-top: 24px;
    float: left;
    width: 16px;
    height: 16px;
    background-position: 0 -71px; }
  /* line 76, ../sass/index.scss */
  .nav-item .more {
    padding-right: 4px;
    margin-top: 24px;
    float: left;
    width: 16px;
    height: 16px;
    background-position: 0 -87px; }
  /* line 84, ../sass/index.scss */
  .nav-item .user-name {
    margin-left: 10px; }
  /* line 87, ../sass/index.scss */
  .nav-item .user-pic {
    margin-top: 14px;
    width: 30px;
    height: 30px;
    border: 2px solid #393939;
    border-radius: 50%;
    background: #ffffff;
    overflow: hidden; }
    /* line 95, ../sass/index.scss */
    .nav-item .user-pic a {
      line-height: 2em; }
    /* line 96, ../sass/index.scss */
    .nav-item .user-pic img {
      width: 100%; }

/*通用头部结束*/
/*通用尾部开始*/
/* line 103, ../sass/index.scss */
.footer {
  position: relative;
  height: 168px;
  background: #000000;
  overflow: hidden; }
  /* line 108, ../sass/index.scss */
  .footer p {
    color: #bbb;
    text-align: center; }
    /* line 111, ../sass/index.scss */
    .footer p a {
      color: #bbb; }
  /* line 115, ../sass/index.scss */
  .footer .footer-p1 {
    margin-top: 28px;
    height: 38px;
    font-size: 1.4em;
    line-height: 4em; }
  /* line 121, ../sass/index.scss */
  .footer .footer-p2 {
    height: 38px;
    font-size: 1.4em;
    line-height: 3em; }
  /* line 126, ../sass/index.scss */
  .footer .footer-p3 {
    margin-top: 30px;
    height: 26px;
    font-size: 1.2em;
    line-height: 2em; }
  /* line 132, ../sass/index.scss */
  .footer .icon-wb {
    width: 29px;
    height: 24px;
    display: inline-block;
    background-position: 0 0; }
  /* line 138, ../sass/index.scss */
  .footer .icon-wx {
    margin-left: 40px;
    width: 32px;
    height: 24px;
    display: inline-block;
    background-position: 0 -23px; }

/*通用尾部结束*/
/*左侧浮动栏*/
/* line 149, ../sass/index.scss */
.left-nav {
  *float: left;
  position: fixed;
  z-index: 9999;
  top: 72px;
  width: 82px; }

/* line 157, ../sass/index.scss */
.left-nav-list li {
  margin-bottom: 3px;
  width: 126px;
  height: 126px;
  opacity: .8; }
  /* line 163, ../sass/index.scss */
  .left-nav-list li img {
    width: 100%; }
  /* line 165, ../sass/index.scss */
  .left-nav-list li:hover {
    opacity: 1; }
/* line 169, ../sass/index.scss */
.left-nav-list a {
  font-size: 3.4em;
  line-height: 3.706em;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  height: 82px;
  display: block; }
/* line 178, ../sass/index.scss */
.left-nav-list .first-bk {
  background: #000; }

/*左侧浮动栏结束*/
/*首页列表部分*/
/* line 185, ../sass/index.scss */
.list-wrap {
  position: relative;
  top: 70px;
  margin-left: 138px;
  padding-bottom: 170px;
  overflow: hidden; }

/* line 192, ../sass/index.scss */
.main-list {
  overflow: hidden; }
  /* line 194, ../sass/index.scss */
  .main-list li {
    position: relative;
    margin: 0 2px 8px;
    float: left;
    width: 32.5%;
    height: 552px;
    overflow: hidden;
    background: #fff; }
  /* line 202, ../sass/index.scss */
  .main-list .main-list-img {
    height: 360px; }
    /* line 204, ../sass/index.scss */
    .main-list .main-list-img img {
      width: 100%; }
  /* line 207, ../sass/index.scss */
  .main-list .main-list-info {
    position: relative;
    top: -66px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 3%;
    width: 83%;
    background: #ffffff; }
    /* line 215, ../sass/index.scss */
    .main-list .main-list-info header {
      font-size: 3em; }
    /* line 218, ../sass/index.scss */
    .main-list .main-list-info p {
      margin: 10px 0;
      font-size: 14px;
      line-height: 1.8em;
      color: #999999; }

/*首页列表部分结束*/
/*show页 内容部分*/
/* line 229, ../sass/index.scss */
.show-wrap {
  position: relative;
  top: 70px;
  width: 100%;
  margin-left: 138px;
  padding-bottom: 70px;
  overflow: hidden; }

/* line 237, ../sass/index.scss */
.show-content {
  width: 59%;
  overflow: hidden; }
  /* line 240, ../sass/index.scss */
  .show-content h1 {
    margin: 22px 0;
    font-size: 5.6em;
    line-height: 1.4em;
    font-weight: normal; }
  /* line 246, ../sass/index.scss */
  .show-content .price {
    height: 40px;
    font-size: 2em;
    line-height: 2em;
    color: #cc9966; }
  /* line 251, ../sass/index.scss */
  .show-content p {
    font-size: 1.8em;
    color: #999999;
    line-height: 1.5em; }
  /* line 255, ../sass/index.scss */
  .show-content img {
    margin: 10px 0;
    width: 100%; }

/* line 259, ../sass/index.scss */
.buy-item {
  position: fixed;
  z-index: 9999;
  top: 72px;
  right: 0;
  width: 338px;
  padding: 12px 15px;
  min-height: 500px;
  background: #ffffff; }

/* line 269, ../sass/index.scss */
.buy-item-tt {
  height: 100px;
  overflow: hidden; }
  /* line 272, ../sass/index.scss */
  .buy-item-tt span {
    float: left;
    width: 100px;
    height: 100px;
    overflow: hidden; }
    /* line 277, ../sass/index.scss */
    .buy-item-tt span img {
      width: 100%; }
  /* line 280, ../sass/index.scss */
  .buy-item-tt h2 {
    padding-left: 10px;
    height: 40px;
    font-size: 2em;
    font-weight: normal;
    line-height: 40px;
    overflow: hidden; }
  /* line 287, ../sass/index.scss */
  .buy-item-tt em {
    float: left;
    padding-left: 10px;
    font-size: 1.2em;
    height: 20px;
    line-height: 20px;
    color: #cc9966; }
  /* line 295, ../sass/index.scss */
  .buy-item-tt i {
    float: left;
    padding-left: 10px;
    width: 228px;
    height: 38px;
    font-size: 12px;
    color: #999999;
    line-height: 1.8em; }

/* line 305, ../sass/index.scss */
.buy-form {
  padding-top: 24px;
  overflow: hidden; }
  /* line 308, ../sass/index.scss */
  .buy-form p {
    margin-bottom: 12px;
    height: 32px;
    line-height: 32px;
    font-size: 1.4em;
    color: #666666; }
    /* line 314, ../sass/index.scss */
    .buy-form p em {
      padding-left: 10px;
      color: #cc9966; }
  /* line 318, ../sass/index.scss */
  .buy-form .buy-third-p {
    margin-bottom: 5px; }

/* line 323, ../sass/index.scss */
.buy-first-p label {
  padding-right: 5px; }
/* line 325, ../sass/index.scss */
.buy-first-p .tool {
  margin: 0 4px;
  width: 12px;
  height: 12px;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  font-weight: bolder;
  display: inline-block;
  border: 1px solid #b9bcbe;
  font-family: 'tahoma';
  cursor: pointer; }
/* line 338, ../sass/index.scss */
.buy-first-p .tool2 {
  margin-left: 8px; }

/* line 343, ../sass/index.scss */
.buy-btn {
  position: relative;
  width: 100%;
  height: 58px;
  font-size: 20px;
  color: #ffffff;
  font-family: "Microsoft Yahei";
  font-weight: normal;
  background-color: #fa3471; }
  /* line 352, ../sass/index.scss */
  .buy-btn::before {
    content: '';
    width: 25px;
    height: 24px;
    position: absolute;
    top: 18px;
    left: 50px;
    display: block;
    background-position: 0 -47px; }

/* line 363, ../sass/index.scss */
.input-tp1 {
  width: 240px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #b9bcbe;
  text-indent: 5px;
  box-shadow: inset 0 1px 3px #e7e7e7;
  color: #cccccc; }

/* line 372, ../sass/index.scss */
.input-tp2 {
  width: 336px; }

/* line 374, ../sass/index.scss */
.input-tp3 {
  margin-right: 6px;
  width: 74px; }

/* line 377, ../sass/index.scss */
.input-tp4 {
  width: 56px; }

/* line 380, ../sass/index.scss */
.aside-list-wrap {
  width: 59%;
  overflow: hidden; }

/* line 384, ../sass/index.scss */
.aside-list {
  overflow: hidden; }
  /* line 386, ../sass/index.scss */
  .aside-list li {
    margin-right: 9px;
    float: left;
    width: 32.5%;
    height: 370px;
    background: #ffffff; }
    /* line 392, ../sass/index.scss */
    .aside-list li:last-of-type {
      margin-right: 0; }
  /* line 394, ../sass/index.scss */
  .aside-list .aside-list-last-li {
    margin-right: 0; }
  /* line 397, ../sass/index.scss */
  .aside-list .aside-list-img {
    height: 234px; }
    /* line 399, ../sass/index.scss */
    .aside-list .aside-list-img img {
      width: 100%; }
  /* line 401, ../sass/index.scss */
  .aside-list .aside-list-info {
    position: relative;
    top: -44px;
    padding: 4.7%;
    margin: 0 5% 0 5%;
    width: 83%;
    background: #ffffff; }
    /* line 408, ../sass/index.scss */
    .aside-list .aside-list-info header {
      font-size: 2em; }
    /* line 411, ../sass/index.scss */
    .aside-list .aside-list-info .price {
      padding-top: 10px;
      font-size: 1.6em;
      line-height: 1.6em;
      color: #cc9966; }
    /* line 416, ../sass/index.scss */
    .aside-list .aside-list-info p {
      font-size: 1.2em;
      line-height: 1.8em;
      color: #999999; }

/* line 422, ../sass/index.scss */
.block-item {
  margin: 64px auto 170px auto;
  width: 80%;
  overflow: hidden; }
  /* line 426, ../sass/index.scss */
  .block-item div {
    margin-top: 10px; }
    /* line 429, ../sass/index.scss */
    .block-item div:hover {
      opacity: .9; }
  /* line 433, ../sass/index.scss */
  .block-item .content {
    padding: 10px;
    float: left;
    width: 170px;
    height: 40px;
    background: #d0d0d0; }
    /* line 439, ../sass/index.scss */
    .block-item .content a {
      display: block;
      color: #ffffff;
      font-size: 1.6em; }
  /* line 445, ../sass/index.scss */
  .block-item .info {
    margin-left: 9px;
    float: left;
    width: 104px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #555555; }
  /* line 457, ../sass/index.scss */
  .block-item .other {
    margin-left: 9px;
    float: left;
    width: 104px;
    height: 60px; }
    /* line 463, ../sass/index.scss */
    .block-item .other:hover {
      opacity: 1; }
    /* line 466, ../sass/index.scss */
    .block-item .other p {
      text-align: center;
      height: 27px;
      line-height: 27px;
      background: #555555; }
      /* line 472, ../sass/index.scss */
      .block-item .other p:hover {
        opacity: .9; }
    /* line 479, ../sass/index.scss */
    .block-item .other .mgt7 {
      margin-top: 7px; }
  /* line 482, ../sass/index.scss */
  .block-item .record {
    margin-left: 9px;
    float: left;
    width: 170px;
    height: 27px;
    line-height: 27px;
    background: #555;
    text-align: center; }

/*show页 内容部分结束*/

/*@ sourceMappingURL=index.css.map */